html{
    font-size: 10px;

}
body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    box-sizing: revert;
}


.my-class{
    .modal-header{
        border: none;
        }
    .modal-footer{
        border: none;
    }
    .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .modal-dialog{
        max-width: 720px;
        margin: 10rem 40rem;
    }
    .modal-content{
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        .btn-close{
            text-align: right;
        }
        .model-content-title{
            font-weight: 402;
            font-size: 30px;
            color: #354657;
        }
        .model-content-subtitle{
            font-weight: 345;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            font-variant: oldstyle-nums;
            color: #946FD3;
        }
                
        .model-content-left{
            width: 430px;
            height: 500px;
            background: url("../img/image 20.png") 30px no-repeat;

            //img{
            //    width: 260px;
            //    height: 520px;
            //    //padding-left: 40px;
            //    //width: 115%;
            //}

        }
        .model-content-right{
            padding: 5rem 1rem 1rem 0;
            line-height: initial;
            .model-content-title {
                margin-bottom: 20px;
            }
            .model-content-subtitle {
                margin-bottom: 30px;
            }
            label {
                width: 90%;
                font-size: 14px;
                color: #354657;
                margin-bottom: 10px;
            }
            input{
                width: 90%;
            }
            .btn.btn-primary{
                background-color: #946FD3;
                border-radius: 50px;
                width: 90%;
                padding: 1rem;
                margin-top: 40px;
                color: #FFFFFF;
            }
        }
        
    }

}





